<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="app_id" value="0bef1f1aef284063a999fbb8e146b4c7" />
    <add key="latestJson" value="latest.json" />
    <add key="openExchangeBasicUrl" value="https://openexchangerates.org/api/" />
  </appSettings>
</configuration>
